<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue chez KITTEN MARKET</h1>
    <p>
      Ta commande est bien passée
    </p>
    <p>
      Pour acheter tes photos de chats, connecte toi au site.
    </p>
  </body>
</html>
