<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour</h1>
    <p>
      Ton inscription est site au bien validé,
    Ton email est validé.<br>
    </p>
    <p>
      Merci et à très vite ^__^)/
    </p>
  </body>
</html>
