<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue chez CPS</h1>
    <p>
      Ton inscription est site au bien validé,
    Ton email est validé.<br>
    </p>
    <p>
      Pour acheter tes photos de chats, connecte toi au site.
    </p>
    <p>Heureux de t'accueillir dans notre communauté, @ bientôt!</p>
  </body>
</html>
