<div class="Site-content">
  <div class="ui grid" style= "padding: 10px;">
    <div class="row">
      <div class="four wide column">
        <h1 class="text-center">Mes informations</h1>
        <div class="ui card">
        <div class="content">
          <div class="item">
            <i class="mail icon violet"></i>

            
              <%= current_user.email %>
          </div>
          <div class="item">
            <% if current_user.admin? %>
          <a class="btn btn-success cart-button" href="/adminv">Admin</a>
        <% end %>
          </div>
          <div class="item">
            <i class="user icon violet"></i>
              <span>Nom</span> <span>Prenom</span>

          </div>
          <div class="item">
            <i class="marker icon violet"></i>
              <span>Adresse</span>,<span> 13001 </span><span>Ville</span>
            </div>
          </div>
          <div class="ui two bottom attached buttons">

            <%=link_to 'Modifier', edit_user_registration_path, class:"button ui circular mini button basic green" %>
            <%=link_to 'Supprimer', edit_user_registration_path, class:"button ui mini button basic red" , data: { confirm: "Pour suppression votre compte veuillez-vous rendre en bas de la page d'édition de votre profil et confirmez" } %>

      </div>
      </div>
        <img>
      </div>
      <div class="twelve wide column">
        <h1 class="text-center">Mes commandes</h1>
         <table class="ui striped violet table">
      <thead>
        <tr>
          <th>Date Commande</th>
          <th>Produits</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Lilki</td>
          <td>September 14, 2013</td>
          <td>jhlilk22@yahoo.com</td>
        </tr>
      </tbody>
    </table>
>>>>>>> 276aac5d55aa3f7527024a93d4a757de00a14951
      </div>
        <img>
      </div>
      <div class="twelve wide column">
        <h1 class="text-center">Mes commandes</h1>
         <table class="ui striped violet table">
      <thead>
        <tr>
          <th>Date Commande</th>
          <th>Produits</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Lilki</td>
          <td>September 14, 2013</td>
          <td>jhlilk22@yahoo.com</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>  
  </div>
</div>