<div class="Site-content">
  <div class="ui grid" style= "padding: 10px;">
    <div class="row">




      <div class="four wide column">
        <h1 class="text-center">Mes informations</h1>
      
      </div>
    </div>
  </div>
</div>
