<div class="ui horizontal inverted footer segment">
    <div class="ui grid text-center">
    	<div class="four wide column">
    		<i class="icon facebook square big blue"></i>
    		<i class="icon twitter square big blue"></i>
    		<i class="icon google plus big red"></i>
    		<i class="icon instagram big grey "></i>
    		<i class="icon pinterest big red"></i> 
    	</div>
    	<div class="four wide column">
    		<i class="icon home big"></i>
    	
    			<strong>Kitten Market</strong>
    			Posters félins
    	
    		
    	</div>
    	<div class="four wide column">
    		125, boulevard du port 13001 Marseille
    	</div>
    	<div class="four wide column">
    		Copyright &copy; Kitten
    	</div>
        
    </div>
</div>
