<div class="fixed-bottom">
  <footer class="py-2 bg-secondary">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Kitten</p>

    </div>
    <!-- /.container -->
  </footer>
<div class="footer">
