<section class="Site-content">
	<div class="ui sixteen wide column centered grid">
	
		<div class=" shooting">
			
			<h1 class="title">Shooting</h1>
			<p class="shooting_text">Vous souhaitez avoir des photos de qualité professionelle de votre compagnon</p>
			<button class="ui button basic violet inverted massive"><i class="icon mail"></i>    Contactez-nous   </button>

			
		</div>
	
	
</div>

</section>

