<div class="Site-content ">
	<div class="ui grid">
		<div class="home">
			<h1 class="logo">Kitten <br> </h1>
			<span class="logo_text"> Les plus belles photos de chats </span> 
		</div>
		<div class="row">
			<%= render 'products/top_vente' %>
		</div>
		
	</div>
</div>