@import "custom";
@import "font-awesome";
@import "toastr";

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.text-center {
	text-align: center;
}

.product .meta {
	color:#a663cc !important;
	text-align: right;
	font-size: 1.2em !important;
}

.title {
	padding: 20px;
	text-transform: uppercase;
	font-size: 4em;
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
}

.cards {
	padding-bottom: 10px;
}
