@import "custom";
@import "font-awesome";
@import "toastr";

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.text-center {
	text-align: center;
}

.product .meta {
	color:#a663cc !important;
	text-align: right;
	font-size: 1.2em !important;
}

.title {
	padding: 20px;
	text-transform: uppercase;
	font-size: 4em;
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
}

.cards {
	padding-bottom: 10px;
}


avatar-small {

      width: 28px;

 }


.avatar-medium {

      width: 48px;

 }

.avatar-large {

      width: 68px;

 }

 .avatar-full {

      width: 100%;

 }

 .btn-file {

  position: relative;

  overflow: hidden;

  }


 .btn-file input[type=file] {

  position: absolute;

  top: 0;

  right: 0;

  min-width: 100%;

  min-height: 100%;

  font-size: 100px;

  text-align: right;

  filter: alpha(opacity=0);

  opacity: 0;

  outline: none;

  background: white;

  cursor: inherit;

  display: block;

  }
