<div class="Site-content  ui container">

	<h2 class="text-center title">Top vente</h2>
		<div class="ui three column grid">

			
			    <div class= "column">
			       <%= image_tag "#{rand(10)}.jpg" , class: 'ui circular image' %>
			       <div class="ui raised segment">
				      <a class="ui pink right ribbon label">Ajouter   <i class="shopping basket icon"></i></a>
				      <h2 class="text-center">Bob</h2>
				      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				      </p>
				    </div>
			    </div>
			    <div class="column">
			      <%= image_tag "#{rand(10)}.jpg" , class: 'ui circular image' %>
			       <div class="ui raised segment">
				      <a class="ui pink right ribbon label">Ajouter   <i class="shopping basket icon"></i></a>
				      <h2 class="text-center">Miaou</h2>
				      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				      </p>
				    </div>
			    </div>
			    <div class="column">
			      <%= image_tag "#{rand(10)}.jpg" , class: 'ui circular image' %>
			       <div class="ui raised segment">
				      <a class="ui pink right ribbon label">Ajouter   <i class="shopping basket icon"></i></a>
				      <h2 class="text-center">Felix</h2>
				      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				      </p>
				    </div>
			    </div>
			    
			 
			
	
</div>