<section class="Site-content">
  <div class="ui centered grid">
    <div class="row">
      <h1>Paiement confirmé</h1>

    </div>
    <div class="row">
      <h4>Merci pour votre achat sur Kitten Market</h4>
    </div>

    <div class="row">
      <div class="ui buttons">
      
        <%= link_to show_user_path(current_user.id), :class=>"ui labeled icon button violet basic" do %>
          <i class="user outline icon"></i>
          Retour au profil
        <% end %>

        <%= link_to root_path,  :class=>"ui right labeled icon button violet basic" do %>
          Retour à l'accueil
          <i class="home icon"></i>
        <% end %>

      </div>
    </div>

    <div class="row">

      <a href="/"><img src="https://media.giphy.com/media/nNxT5qXR02FOM/giphy.gif" width="292" height="350"></a>

    </div>
  </div>
  
</section>

