<br>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 cart">
      <center>
      <h1>Thanks for payed</h1>
      <%= link_to "COMMANDES", orders_path, :class=>"btn btn-success cart-button" %>
      <%= link_to "ACCUEIL", root_path,  :class=>"btn btn-success cart-button"%>
        <br><br>
      <a href="/"><img src="https://media.giphy.com/media/nNxT5qXR02FOM/giphy.gif" width="292" height="350"></a>
    </div>
  </div>
</div>
</center>
